@use './common/mixins' as *;


$black: #020911;
$blue-dark: #24344b;
$blue-mid: #274472;
$blue: #bcd2ee;
$peach: #ffb885;
$pink: #d8315b;
$white: #fff;
$white-blue: #f0f3fa;

:root {
	--color-bg-1: #{$white};
	--color-bg-2: #{$white-blue};
	--color-black: #{$black};
	--color-primary: #{$blue-mid};
	--color-primary-dark: #{$blue-dark};
	--color-secondary: #{$blue};
	--color-tertiary: #{$peach};
	--color-accent: #{$pink};
	--color-text: #{$blue-dark};
	--color-text-inv: #{$white};
	--color-interactive: #{$pink};
	--color-interacting: var(--color-tertiary);
}

// General styles
*,
*::after,
*::before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	// stylelint-disable value-keyword-case
	text-rendering: optimizeLegibility;
	// stylelint-enable value-keyword-case
}

html {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

// FROM HERE

body {
	background-color: var(--color-primary-dark);
	font-family: Assistant, sans-serif;
	text-align: justify;
}

main {
	padding-bottom: 120px;
	padding-top: 60px;
}

a {
	color: inherit;

	&:focus {
		outline: 2px solid var(--color-interactive);
	}

	&:not(:hover) {
		text-decoration: none;
	}

	&:focus,
	&:hover {
		color: var(--color-interactive);
	}
}

.title,
.subtitle,
.h2,
.h3,
.h4,
.h5 {
	font-weight: 700;
}

.title,
.subtitle,
.h2,
.h4 {
	color: var(--color-primary);
}

.h3,
.h5 {
	color: var(--color-primary-dark);
}

.subtitle,
.h2 {
	font-size: 13pt;
}


.title {
	font-size: 16pt;
}

.h2 {
	margin: 8pt 0 4pt;
}

.h3 {
	font-size: 11pt;
}

.h4 {
	font-size: 12pt;
	margin-top: 10pt;
}

.h5 {
	font-size: 10pt;
	margin-bottom: 2pt;
}

// ////////////////////////

$page-padding: .25in;

.paper {
	background: white;
	display: grid;
	font-size: 11pt;
	grid-template-areas: 'left right';
	grid-template-columns: 6in auto;
	height: 11in;
	margin: 0 auto;
	width: 8.5in;

	&__left {
		grid-area: left;
		padding: $page-padding 5pt $page-padding $page-padding;
	}

	&__right {
		background-color: var(--color-bg-2);
		font-size: 10pt;
		grid-area: right;
		height: 100%;
		padding: $page-padding .15in $page-padding .125in;
	}
}


.title-container {
	align-items: baseline;
	display: flex;
	margin-bottom: 2pt;
}

.icon {
	aspect-ratio: 1/1;
	width: var(--icon-width, .25in);

	&--sm {
		--icon-width: .2in;
	}
}

.link {
	color: var(--color-interactive);
}

.separator {
	background-color: var(--color-secondary);
	height: 1em;
	margin: 0 6pt;
	width: 2pt;
}

.list {
	$list-indent: .13in;

	margin: 4pt 0 6pt;
	padding-left: $list-indent;

	&__item {
		position: relative;

		&::before {
			aspect-ratio: 1 / 1;
			background: var(--color-primary);
			border-radius: 50%;
			content: '';
			left: calc(-1 * $list-indent);
			position: absolute;
			top: .4em;
			width: .45em;
		}
	}
}

$indent: 6pt;

.u-inline-flex {
	align-items: center;
	display: flex;
	gap: $indent;
}

.experience {
	align-items: center;
	display: flex;
	gap: $indent;

	&__icon {
		aspect-ratio: 1 / 1;
		display: grid;
		place-items: center;
		width: .25in;
	}

	&__role,
	&__dates {
		align-items: center;
		display: flex;
	}

	& + & {
		margin-top: 6pt;
	}
}

.sidebar {
	&-list {
		margin-bottom: 6pt;
	}

	&-item {
		$block: &;

		display: flex;
		gap: $indent;

		.h5 {
			margin: 0;
		}

		&:not(:last-of-type) {
			margin-bottom: 2pt;
		}

		&--align-start {
			align-items: flex-start;

			&:last-of-type {
				margin-top: 5pt;
			}

			.icon {
				position: relative;
				top: 2pt;
			}
		}
	}
}

.dialog {
	border: none;
	border-radius: 8px;
	inset: 50% auto auto 50%;
	max-width: 400px;
	padding: 20px;
	transform: translate(-50%, -50%);
	// position: fixed;

	&__header {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 10px;
	}

	&-close-btn {
		background: none;
		border: none;
		color: var(--color-text);
		cursor: pointer;
		font-size: 20px;
		margin-left: auto;
	}


	&-show-btn {
		&-container {
			position: relative;
		}

		aspect-ratio: 1 / 1;
		background: var(--dialog-show-btn-bg-color, var(--color-interactive));
		border: 0;
		border-radius: 50%;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 30%), 0 1px 3px 1px rgba(0, 0, 0, 15%);
		cursor: pointer;
		left: -$page-padding + 4px;
		position: absolute;
		top: 2px;
		transition: .2s background-color, .2s width;
		width: var(--dialog-show-btn-width, 15px);

		&:focus-visible,
		&:hover {
			--dialog-show-btn-bg-color: var(--color-interacting);
			--dialog-show-btn-width: 17px;
		}

		&:focus {
			outline: none;
		}

		@media print {
 			display: none;
		}
	}

	&-show-btn:hover + [dialog-subject-for],
	&-open {
		background-color: var(--color-tertiary);
	}
}

[dialog-subject-for] {
	transition: .2s background-color;
}
